Data/
1_filtered/
2_annotation/
filtered_copy.genome
removeScaffold_copy.py
3_fasta/
Haemoproteus_tartakovskyi_blastp_results.txt
Haemoproteus_tartakovskyi_blastx_result.txt
filtered_copy.genome
5_nobird_genome/
